* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.navbar {
  height: 100px;
}
.nav-link {
  text-decoration: none;
  color: #222;
}

.navbar-brand {
  width: 120px;
  height: 50px;
}

footer {
  bottom: 0;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

footer > p {
  margin-left: 30px;
}

body {
  margin: 0;
}

.container {
  padding-bottom: 30px;
}

.list {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokeWrapper {
  flex-basis: 33.333333%;
  text-align: center;
}

.pokeImg {
  max-width: 50%;
  margin: 0 auto;
  background: #1e6091;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.description {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 50%;
}

.cmtBtn,
.badge {
  box-shadow: 2px 2px 2px #14746f;
  background: #ff9f1c;
}

.cmtBtn:hover {
  background: #fcbf49;
}

.hidden {
  display: none !important;
}

.comments-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  margin-top: 60px;
  background-color: white;
  padding: 2rem 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.pokemon__img {
  width: 40%;
  height: 40%;
}

.pokemon__img__container {
  border: 1px solid #333;
  background: #1e6091;
  border-radius: 5px;
}

#comments {
  font-size: 12px;
}

.fa-heart {
  color: #ef233c;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1500px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}